<!-- Boiler plate html common header for each page-->
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- <meta http-equiv="refresh" content="3" /> -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Crime Prediction</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <style>
    #tab1,
    #tab2 {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    #tab1 td,
    #tab1 th,
    #tab2 td,
    #tab2 th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    #states a path,
    text {
      transition: fill .5s ease;
      -moz-transition: fill .5s ease;
      -webkit-transition: fill .5s ease;
      fill: #051E34 !important;
      cursor: pointer;
    }

    #tab1 tr:nth-child(even) {
      background-color: #f2f2f2;
    }


    #tab2 tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    #tab2 tr:hover {
      background-color: #ddd;
    }

    #tab1 th,
    #tab2 th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #051E34;
      color: white;
    }

    .hint {
      fill: orange !important;
    }
  </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
</head>

<body style="background-color: #ffffff">
  <!-- displays the body of html, included in other html file-->
  {% block body %}{% endblock %}

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    var boundaries = {}
    var coordinates = [
      {
        state: 'Alaska',
        xmin: -179.148909,
        ymin: 51.214183,
        xmax: 179.77847,
        ymax: 71.365162
      },
      {
        state: 'Alabama',
        xmin: -88.473227,
        ymin: 30.223334,
        xmax: -84.88908,
        ymax: 35.008028
      },
      {
        state: 'Arizona',
        xmin: - 114.81651,
        ymin: 31.332177,
        xmax: -109.045223,
        ymax: 37.00426
      },
      {
        state: 'Arkansas',
        xmin: -94.617919,
        ymin: 33.004106,
        xmax: -89.644395,
        ymax: 36.4996
      },
      {
        state: 'California',
        xmin: -124.409591,
        ymin: 32.534156,
        xmax: -114.131211,
        ymax: 42.009518
      },
      {
        state: 'Colorado',
        xmin: -109.060253,
        ymin: 36.992426,
        xmax: -102.041524,
        ymax: 41.003444
      },
      {
        state: 'Connecticut',
        xmin: -73.727775,
        ymin: 40.980144,
        xmax: -71.786994,
        ymax: 42.050587
      },
      {
        state: 'Delaware',
        xmin: -75.788658,
        ymin: 38.451013,
        xmax: -75.048939,
        ymax: 39.839007
      },
      {
        state: 'Florida',
        xmin: -87.634938,
        ymin: 24.523096,
        xmax: -80.031362,
        ymax: 31.000888
      },
      {
        state: 'Georgia',
        xmin: -85.605165,
        ymin: 30.357851,
        xmax: -80.839729,
        ymax: 35.000659
      },
      {
        state: 'Hawaii',
        xmin: -178.334698,
        ymin: 18.910361,
        xmax: -154.806773,
        ymax: 28.402123
      },
      {
        state: 'Iowa',
        xmin: -96.639704,
        ymin: 40.375501,
        xmax: -90.140061,
        ymax: 43.501196
      },
      {
        state: 'Idaho',
        xmin: -117.243027,
        ymin: 41.988057,
        xmax: -111.043564,
        ymax: 49.001146
      },
      {
        state: 'Illinois',
        xmin: -91.513079,
        ymin: 36.970298,
        xmax: -87.494756,
        ymax: 42.508481
      },
      {
        state: 'Indiana',
        xmin: -88.09776,
        ymin: 37.771742,
        xmax: -84.784579,
        ymax: 41.760592
      },
      {
        state: 'Kansas',
        xmin: -102.051744,
        ymin: 36.993016,
        xmax: -94.588413,
        ymax: 40.003162
      },
      {
        state: 'Kentucky',
        xmin: -89.571509,
        ymin: 36.497129,
        xmax: -81.964971,
        ymax: 39.147458
      },
      {
        state: 'Louisiana',
        xmin: -94.043147,
        ymin: 28.928609,
        xmax: -88.817017,
        ymax: 33.019457
      },
      {
        state: 'Massachusetts',
        xmin: -73.508142,
        ymin: 41.237964,
        xmax: -69.928393,
        ymax: 42.886589
      },
      {
        state: 'Maryland',
        xmin: -79.487651,
        ymin: 37.911717,
        xmax: -75.048939,
        ymax: 39.723043
      },
      {
        state: 'Maine',
        xmin: -71.083924,
        ymin: 42.977764,
        xmax: -66.949895,
        ymax: 47.459686
      },
      {
        state: 'Michigan',
        xmin: 90.418136,
        ymin: 41.696118,
        xmax: -82.413474,
        ymax: 48.2388
      },
      {
        state: 'Minnesota',
        xmin: -97.239209,
        ymin: 43.499356,
        xmax: -89.491739,
        ymax: 49.384358
      },
      {
        state: 'Missouri',
        xmin: -95.774704,
        ymin: 35.995683,
        xmax: -89.098843,
        ymax: 40.61364
      },
      {
        state: 'Mississippi',
        xmin: -91.655009,
        ymin: 30.173943,
        xmax: -88.097888,
        ymax: 34.996052
      },
      {
        state: 'Montana',
        xmin: -116.050003,
        ymin: 44.358221,
        xmax: -104.039138,
        ymax: 49.00139
      },
      {
        state: 'North Carolina',
        xmin: -84.321869,
        ymin: 33.842316,
        xmax: -75.460621,
        ymax: 36.588117
      },
      {
        state: 'North Dakota',
        xmin: -104.053514,
        ymin: 39.999998,
        xmax: -95.30829,
        ymax: 43.001708
      },
      {
        state: 'Nebraska',
        xmin: -104.053514,
        ymin: 39.999998,
        xmax: -95.30829,
        ymax: 43.001708
      },
      {
        state: 'New Hampshire',
        xmin: -72.557247,
        ymin: 42.69699,
        xmax: -70.610621,
        ymax: 45.305476
      },
      {
        state: 'New Jersey',
        xmin: -75.559614,
        ymin: 38.928519,
        xmax: -73.893979,
        ymax: 41.357423
      },
      {
        state: 'New Mexico',
        xmin: -109.050173,
        ymin: 31.332301,
        xmax: -103.001964,
        ymax: 37.000232
      },
      {
        state: 'Nevada',
        xmin: -120.005746,
        ymin: 35.001857,
        xmax: -114.039648,
        ymax: 42.002207
      },
      {
        state: 'New York',
        xmin: -79.762152,
        ymin: 40.496103,
        xmax: -71.856214,
        ymax: 45.01585
      },
      {
        state: 'Ohio',
        xmin: -84.820159,
        ymin: 38.403202,
        xmax: -80.518693,
        ymax: 41.977523
      },
      {
        state: 'Oklahoma',
        xmin: -103.002565,
        ymin: 33.615833,
        xmax: -94.430662,
        ymax: 37.002206
      },
      {
        state: 'Oregon',
        xmin: -124.566244,
        ymin: 41.991794,
        xmax: -116.463504,
        ymax: 46.292035
      },
      {
        state: 'Pennsylvania',
        xmin: -80.519891,
        ymin: 39.7198,
        xmax: -74.689516,
        ymax: 42.26986
      },
      {
        state: 'Rhode Island',
        xmin: -71.862772,
        ymin: 41.146339,
        xmax: -71.12057,
        ymax: 42.018798
      },
      {
        state: 'South Carolina',
        xmin: -83.35391,
        ymin: 32.0346,
        xmax: -78.54203,
        ymax: 35.215402
      },
      {
        state: 'South Dakota',
        xmin: -104.057698,
        ymin: 42.479635,
        xmax: -96.436589,
        ymax: 45.94545
      },
      {
        state: 'Tennessee',
        xmin: -90.310298,
        ymin: 34.982972,
        xmax: -81.6469,
        ymax: 36.678118
      },
      {
        state: 'Texas',
        xmin: -106.645646,
        ymin: 25.837377,
        xmax: -93.508292,
        ymax: 36.500704
      },
      {
        state: 'Utah',
        xmin: -114.052962,
        ymin: 36.997968,
        xmax: -109.041058,
        ymax: 42.001567
      },
      {
        state: 'Virginia',
        xmin: -83.675395,
        ymin: 36.540738,
        xmax: -75.242266,
        ymax: 39.466012
      },
      {
        state: 'Vermont',
        xmin: -73.43774,
        ymin: 42.726853,
        xmax: -71.464555,
        ymax: 45.016659
      },
      {
        state: 'Washington',
        xmin: -124.763068,
        ymin: 45.543541,
        xmax: -116.915989,
        ymax: 49.002494
      },
      {
        state: 'Wisconsin',
        xmin: -92.888114,
        ymin: 42.491983,
        xmax: -86.805415,
        ymax: 47.080621
      },
      {
        state: 'West Virginia',
        xmin: -82.644739,
        ymin: 37.201483,
        xmax: -77.719519,
        ymax: 40.638801
      },
      {
        state: 'Wyoming',
        xmin: -111.056888,
        ymin: 40.994746,
        xmax: -104.05216,
        ymax: 45.005904
      }
    ];

    var element = Array.from(document.getElementsByTagName('a'));
    element.forEach(st => st.addEventListener("click", stateClick));
    function stateClick(state) {
      let currentState = state.currentTarget.getAttribute('title');
      let stateCoordinates = coordinates.filter(st => st.state === currentState);
      let obj = { "state": stateCoordinates[0].state, xmin: stateCoordinates[0].xmin, ymin: stateCoordinates[0].ymin, xmax: stateCoordinates[0].xmax, ymax: stateCoordinates[0].ymax }
      boundaries = obj;
      $.ajax(`http://localhost:5000/Check_result?state=${boundaries.state}&xmin=${boundaries.xmin}&ymin=${boundaries.ymin}&xmax=${boundaries.xmax}&ymax=${boundaries.ymax}`).done(function (reply) {
        $('#hero').html(reply);
      });

      alert(`Fetching Top Crimes for ${stateCoordinates[0].state} State`)
    }

  </script>

</body>

</html>